<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">

  <title>{% block title %}BIOE / ENGR 80 DNA Validator{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/favicon.ico">

  <!-- HTML5 shim, for IE 6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  {% block css %}{% endblock %}

  <style>
    body {
      background-image: url("/static/img/{{ range(0,6) | random }}.png");
      background-repeat: no-repeat;
      background-position: right bottom;
      background-attachment: fixed;
      min-height: 600px;
    }

    .panel {
      background: rgba(255, 255, 255, 0.9)!important;
    }
  </style>


  <!-- Rather use `less.js` to dynamically compile your `stylesheet/less` files? -->
  <!-- <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.4.1/less.min.js"></script>
  <script>window.less || document.write('<script src="/static/js/less.js">\x3C/script>')</script> -->

  <!-- Need Modernizr? Uncomment the following script. -->
  <!-- <script src="/static/js/modernizr.js"></script> -->

</head>

<body>
  <div class="container theme-showcase">
  <header class="page-header">
    {% include "header.html" %}
  </header>

  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
    {% endfor %}
    </div>
  </div>
  {% endif %}
{% endwith %}

  <div id="main" role="main">
    {% block main %}{% endblock %}
  </div>

  <footer>
    {% include "footer.html" %}
  </footer>
  </div>

  <!-- Additional JavaScript libraries and plugins... -->
  {% block js %}{% endblock %}


  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-100421349-1', 'auto');
    ga('send', 'pageview');
  </script>


  <!-- Prompt IE < 8 users to install Chrome Frame.  -->
  <!--[if lt IE 8 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->

</body>
</html>
